body {
    background-color: black;
    color: silver;
}

.jumbotron {
    margin: 20px;
    background-image: url(https://photos5.appleinsider.com/gallery/21392-24374-170519-Apple_Park-l.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: silver;
    text-align: center;
}

.form-control {
    display: inline-block;
    width: 180px;
}

table {
    table-layout: auto;
    background-color: black;
    color: silver;
}
